h2 Massive Dribbble
form(action = "/shots", method = "POST")
  input(type = "text", placeholder = "link to your shot", name = "link", value = "http://dribbble.com/shots/607767-Metriotea-labels-final")
  input(type = "submit")